.clearfix:after {
  content: " ";
  clear: both;
  display: none;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-reset {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}